@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font: "Lato", Arial, sans-serif;
  --width: 100%;
  --height: 100%;
  --color-primary: #682b8d;
  --color-secondary: #e0044d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  line-height: 1em;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-family: var(--font);
  color: white;
  font-weight: normal;
}

body {
  background-color: #ccc;
}

.banner {
  width: var(--width);
  height: var(--height);
}

main {
  position: relative;
  width: 100%;
}

aside {
  position: relative;
  background-color: white;
  width: 100%;
  color: var(--color-primary);
}

sup {
  vertical-align: text-top;
  font-size: 0.75em;
}

#legal {
  cursor: pointer;
}

.legal p {
  line-height: 1.2em;
}

.button {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 900;
}

.carousel {
  --background-size: auto 100%;
  --background-position: 100% 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.carousel-slides {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  transform: translateX(calc(var(--slide) * -100%));
}

.carousel-slide {
  cursor: pointer;
  position: relative;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

.description {
  font-size: 9px;
  font-weight: normal;
  text-transform: none;
}

.description p {
  line-height: 1.2em;
}

.description ol {
  margin-left: 1em;
  margin-top: 1em;
}

/**
  Leaderboard
*/

.leaderboard {
  --width: 728px;
  --height: 90px;
}

.leaderboard.banner {
  display: flex;
  flex-direction: row-reverse;
}

.leaderboard .legal {
  height: 18px;
  background-color: var(--color-primary);
  font-size: 9px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px;
}

.leaderboard aside {
  width: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.leaderboard aside img {
  width: 100%;
}

.leaderboard .carousel {
  --background-size: 100% auto;
  --background-position: 100% 0;
  height: 72px;
}

.leaderboard .carousel-slide {
  background-size: var(--background-size);
  background-position: var(--background-position);
  transition: all 3.5s ease;
}

.leaderboard .logo {
  position: absolute;
  top: 11px;
  right: 11px;
}

.leaderboard .disclaimer {
  position: absolute;
  top: 47px;
  right: 11px;
  font-size: 9px;
}

.leaderboard .carousel-slide-0 h3 {
  position: relative;
  font-size: 23px;
  top: 10px;
  left: 100px;
  width: 205px;
  text-transform: uppercase;
}

.leaderboard .carousel-slide-1 h3 {
  position: relative;
  font-size: 16px;
  top: 10px;
  left: 100px;
  width: 181px;
  text-transform: uppercase;
}

.leaderboard .carousel-slide-2 h3 {
  position: relative;
  font-size: 16px;
  top: 10px;
  left: 100px;
  width: 195px;
  text-transform: uppercase;
}

.leaderboard .description {
  font-size: 9px;
  width: 245px;
  top: 10px;
  left: 10px;
  position: absolute;
}

.leaderboard .carousel[data-slide="2"],
.leaderboard .carousel[data-slide="3"] {
  --background-size: 170% auto;
  --background-position: 100% 30%;
}

.leaderboard .button {
  font-size: 18px;
  gap: 15px;
  padding: 11px;
  position: absolute;
  top: 6px;
  right: 120px;
}

.leaderboard .carousel[data-slide="3"] .carousel-slide::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.59);
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.leaderboard .carousel-slide-3 * {
  z-index: 1;
}

/**
  MPU
*/

.mpu {
  --width: 300px;
  --height: 250px;
  display: flex;
  flex-direction: column-reverse;
}

.mpu main {
  height: 198px;
}

.mpu .carousel-slide {
  background-size: var(--background-size);
  background-position: var(--background-position);
  transition: all 3s ease;
}

.mpu .logo {
  position: absolute;
  bottom: 11px;
  right: 11px;
}

.mpu .disclaimer {
  font-size: 9px;
  position: absolute;
  bottom: 11px;
  left: 11px;
}

.mpu aside {
  height: 52px;
  font-size: 9px;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  padding: 6px 11px;
}

.mpu .button {
  gap: 10px;
  padding: 5px 11px;
}

.mpu .button span {
  font-size: 18px;
}

.mpu .legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mpu .carousel-slide {
  padding: 23px 11px;
  text-transform: uppercase;
  font-weight: 900;
}

.mpu .carousel-slide-0 h3 {
  font-size: 23px;
  width: 205px;
}

.mpu .carousel-slide-1 h3 {
  font-size: 18px;
  width: 194px;
}

.mpu .carousel-slide-2 h3 {
  font-size: 18px;
  width: 215px;
}

.mpu .carousel[data-slide="2"] .carousel-slide,
.mpu .carousel[data-slide="3"] .carousel-slide {
  --background-size: auto 160%;
  --background-position: 80% 40%;
}

.mpu .carousel[data-slide="3"] .carousel-slide::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.59);
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.mpu .carousel[data-slide="3"] .carousel-slide * {
  position: relative;
  z-index: 1;
}

.mpu .description {
  font-size: 9px;
  width: 271px;
  margin-top: 1em;
}

.mpu main[data-slide="3"] .logo {
  top: 11px;
  bottom: auto;
}

/**
  Double MPU
*/

.double-mpu {
  --width: 300px;
  --height: 600px;
  display: flex;
  flex-direction: column-reverse;
}

.double-mpu .carousel-slide-0,
.double-mpu .carousel-slide-1,
.double-mpu .carousel-slide-2,
.double-mpu .carousel-slide-3 {
  position: relative;
  z-index: 0;
}

.double-mpu .carousel-slide-0::after,
.double-mpu .carousel-slide-1::after,
.double-mpu .carousel-slide-2::after {
  content: "";
  width: 169px;
  height: 300px;
  background: linear-gradient(#000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.63;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.double-mpu .carousel-slide-0::before,
.double-mpu .carousel-slide-1::before,
.double-mpu .carousel-slide-2::before,
.double-mpu .carousel-slide-3::before {
  content: "";
  width: 100%;
  height: 300px;
  background: linear-gradient(#000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.63;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.double-mpu main {
  height: 528px;
}

.double-mpu .carousel-slide {
  --background-size: auto 100%;
  --background-position: 100% 0;
  background-size: var(--background-size);
  background-position: var(--background-position);
  transition: all 3s ease;
}

.double-mpu .logo {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 84px;
}

.double-mpu .disclaimer {
  font-size: 10px;
  position: absolute;
  bottom: 11px;
  left: 11px;
}

.double-mpu aside {
  height: 72px;
  font-size: 9px;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 20px;
  padding: 9px 11px;
}

.double-mpu aside img {
  width: 80px;
}

.double-mpu .button {
  justify-content: space-between;
  font-size: 23px;
  gap: 10px;
  padding: 10px 15px;
  display: flex;
  width: calc(100% - 20px);
  position: absolute;
  left: 10px;
  bottom: 163px;
}

.double-mpu .button span {
  font-size: 18px;
}

.double-mpu .legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.double-mpu .legal p:first-child {
  width: 115px;
}

.double-mpu .carousel-slide {
  padding: 23px 11px;
  text-transform: uppercase;
  font-weight: 900;
}

.double-mpu .carousel-slide:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.63) 100%
  );
  background-position: 50% 100%;
  z-index: -1;
}

.double-mpu .carousel-slide-0 h3 {
  font-size: 36px;
  width: 217px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.double-mpu .carousel-slide-1 h3 {
  font-size: 31px;
  width: 264px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.double-mpu .carousel-slide-1 span:nth-child(2)::after {
  content: "";
  display: block;
}

.double-mpu .carousel-slide-2 h3 {
  font-size: 31px;
  width: 208px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.double-mpu .carousel-slide-3 {
  display: flex;
  align-items: flex-end;
  padding-bottom: 80px;
}

.double-mpu .carousel-slide-3::after {
  content: "";
  z-index: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.63);
  height: 150px;
  width: 100%;
}

.double-mpu .description {
  position: relative;
  z-index: 1;
  font-size: 10px;
}

.double-mpu .carousel[data-slide="2"] .carousel-slide,
.double-mpu .carousel[data-slide="3"] .carousel-slide {
  --background-size: auto 150%;
  --background-position: 37% 90%;
}

/**
  Mobile
*/

.mobile {
  --width: 320px;
  --height: 50px;
}

.mobile.banner {
  display: flex;
  flex-direction: row-reverse;
}

.mobile .legal {
  height: 18px;
  background-color: var(--color-primary);
  font-size: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mobile .legal p:last-child {
  display: none;
}

.mobile aside {
  padding: 6px;
  width: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobile aside p {
  color: var(--color-primary);
  font-size: 6px;
  text-align: center;
}

.mobile aside img {
  width: 100%;
}

.mobile main {
  width: 257px;
}

.mobile .carousel {
  height: 32px;
}

.mobile .carousel-slide {
  --background-size: 100% auto;
  --background-position: 100% 0;
  transition: all 3.5s ease;
}

.mobile .carousel-slide {
  background-size: var(--background-size);
  background-position: var(--background-position);
}

.mobile .logo {
  display: none;
}

.mobile .disclaimer {
  position: absolute;
  width: 38px;
  top: 2px;
  right: 6px;
  font-size: 7px;
}

.mobile .carousel-slide-0 h3 {
  font-size: 14px;
  width: 108px;
  text-transform: uppercase;
  position: relative;
  top: 2px;
  left: 6px;
}

.mobile .carousel-slide-1,
.mobile .carousel-slide-2 {
  background-image: none !important;
  background-color: #370457;
}

.mobile .carousel-slide-1 h3,
.mobile .carousel-slide-2 h3 {
  font-size: 11px;
  width: 212px;
  text-transform: uppercase;
  position: relative;
  top: 4px;
  left: 6px;
}

.mobile .button {
  font-size: 10px;
  width: 102px;
  justify-content: space-between;
  padding: 4px;
  position: relative;
  top: 1px;
  left: 6px;
}
